/*
	@theme ActionScript3 Placeholder based on Monokaffee
	@placeholder as3
*/
@base {
	color: #000000;
	background-color: #FFFFFF;
	insertion-point-color: #000000;
	selection-background-color: default;
	current-line-background-color: #fff8dd;
}

* {
    spell-check: disabled;
}

literal.string {
	color: #bc670f;
	background-color: rgba(251,233,173,0.1);
	spell-check: enabled;
}

* > string.modifier {
	color: #66D9EF;
	font-style: italic;
}

literal.regex {
    color: #E6DB74;
}

literal.numeric {
    color: #AE81FF;
}

literal.keyword.constant {
	color: #F92672;
}

literal.keyword.bool {
    color: #66D9EF;
}

literal.keyword.nothing {
    color: #66D9EF;
}

literal.escape {
    color: #A6E22E;
}

identifier.function > name {
    color: #3a1d72;
    font-weight: bold;
}

identifier.type {
    color: #FD971F;
    font-weight: bold;
}

identifier.variable.parameter {
	color: #FD971F;
}

identifier.variable.named-parameter {
	color: #FD971F;
}

identifier.variable.named-parameter > name {
	font-style: italic;;
}

identifier.variable.instance {
    color: #7b8c4d;
}

keyword.control {
    color: #6700b9;
}

keyword.definition {
    color: #66D9EF;
    font-style: italic;
}

keyword.modifier {
    color: #6700b9;
}

keyword.constant.other {
	color: #AE81FF;
}

metadata {
    color: #716E5B;
}

metadata.comment.documentation {
	color: #E6DB74;
	spell-check: enabled;
}

operator {
    color: #F92672;
}